<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фильм</title>
</head>
<body>

<p th:text="'Название: ' + ${film.getTitle()}"></p>
<p th:text="'Компания: ' + ${film.getCompany()}"></p>
<p th:text="'Режиссер: ' + ${film.getDirector()}"></p>
<p th:text="'Год выпуска: ' + ${film.getYearOfRelease()}"></p>
<p th:text="'Описание: ' + ${film.getDescription()}"></p>

here we have copies
<p th:text="'Диск'"></p>
<p th:text="'Количество: ' + ${disksAmount}"></p>
<p th:text="'Стоимость: ' + ${diskPrice}"></p>

<p th:text="'Кассета'"></p>
<p th:text="'Количество: ' + ${cassettesAmount}"></p>
<p th:text="'Стоимость: ' + ${cassettePrice}"></p>
</div>

</body>
</html>