<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
</head>
<body>
<p th:text="'Имя: ' + ${client.getName()}"></p>
<p th:text="'Телефон: ' + ${client.getPhone()}"></p>
<p th:text="'Адрес: ' + ${client.getAddress()}"></p>
</body>

here we have all films
<div th:each="record : ${records}">
    <p th:text="${record.getCopy().getId()} + '; ' +
                ${record.getCopy().getFilm().getTitle()} + '; ' +
                'Дата Оформления: ' + ${record.getDateOfTransfer()} + '; ' +
                'Дата возврата (формальная): ' + ${record.getDateOfReceipt()} + '; ' +
                'Дата возврата (реальная): ' + ${record.getActualDateOfReceipt()} + '; ' +
                'Стоимость: ' + ${record.getTransferAmount()}">
    </p>
</div>
</html>